<%provide(:title, @user.name)%>
<p id="notice"><%= notice %></p>
<%= link_to 'Back', users_path %>

<div class="side-image text-center">
  <%= gravatar_for @user %>
</div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>user level:</strong>
  <%= @user.user_level %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |

