<%provide(:title, 'Listing Posts')%>
<p id="notice"><%= notice %></p>
<h1>Listing Posts</h1>
<%= content_tag('p', link_to('«back', controller:'admin', action: 'menu') )%> <!--&laquo;-->
<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Title</th>
      <th>Author</th>
      <th>Categories</th>
      <th>Status</th>
      <th>show</th>
      <th>Edit</th>
      <th colspan="9">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr class="">
        <td  scope="row"><%= @count+=1 %></td>
        <td><%=post.created_at.strftime('%m/%d/%y %I:%m %p')%></td>
        <td><%=h(post.title) %></td>
        <td><%=h(post.user.name) if post.user%></td>
        <td><%=h(post.hashtags.collect{|tag| tag.name}.join(", ")) if post.hashtags%></td>
        <td><%=h(post.status)%></td>
        <td><%= link_to 'Show', post, class:'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data:{confirm:"are you sure?"}, class:'btn btn-sm btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path %>