<p id="notice"><%= notice %></p>
<%provide(:title, @post.title)%>

<p><strong>Title:</strong>
    <%= @post.title %>
</p>

<p><strong>content:</strong>
    <%=@post.content %>
</p>

<p><strong>categories:</strong></p>
<ul>
    <% @post.hashtags.each do |tag| %>
        <li><%= tag.name %></li>
    <%end %>
</ul>

<p><strong>created at:</strong>
<%= @post.created_at %></p>

<p><strong>Author:</strong>
<%= @post.user ? @post.user.name : "no author"  %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |      <!--show, only if user is log in. i have a few ideas. but for now, there is redirect preventing a non user to edit the post-->
<%= link_to 'Back', posts_path %>
